.checkout-product {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	padding: 20px 1rem;
}

.checkout-product-image {
	flex: 1;
	object-fit: contain;
	min-width: 200px;
	width: 100%;
	max-width: 200px;
	height: 180px;
	cursor: pointer;
}

.checkout-product-info {
	flex: 1;
	width: 100%;
	padding-left: 20px;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: space-between;
}

.checkout-product-details {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	text-align: start;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
}

.checkout-product-title {
	flex: 1;
	min-width: 10rem;
}

.checkout-product-price {
	flex-basis: content;
	margin-left: auto;
	min-width: 5rem;
	text-align: end;
}

.checkout-product-quantity {
	width: 4.5rem;
	margin-right: 1rem;
}

.checkout-product-remove {
	background: transparent;
	border: none;
	border-left: 1px solid #DDD;
	padding: 0 1rem;
	color: #0E82C0;
	font-size: 12px;
}