.header {
	position: sticky;
	top: 0;
	display: grid;
	grid-template:
		'logo search search search search search search nav nav'auto;
	height: 60px;
	padding: 0.5rem;
	background-color: #131921;
	z-index: 100;
}

.header>a {
	grid-area: logo;
	display: flex;
	align-items: center;
}

.header-logo {
	width: 100px;
	height: 40px;
	object-fit: cover;
	margin: 0 1rem;
}

.header-search {
	grid-area: search;
	display: flex;
	align-items: center;
}

.header-search-bar {
	display: flex;
	flex: 1;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
}

.header-search-input {
	height: 2rem;
	padding: 10px;
	border: none;
	width: 100%;
}

.header-search-icon {
	padding: 5px;
	height: 2rem !important;
	width: 2rem !important;
	background-color: #cd9042;
}

.header-line-one {
	font-size: 12px;
}

.header-line-two {
	font-size: 14px;
	font-weight: 800;
}

.header-nav {
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.header-option {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	color: whitesmoke;
}

.header-option-basket {
	position: relative;
	color: white;
}

.header-option-basket svg {
	width: 2rem;
	height: 2rem;
}

.header-basket-count {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 5%;
	color: #F08804;
}

.header a {
	text-decoration: none;
}

@media screen and (max-width: 640px) {
	.header {
		height: 100px;
		grid-template:
			'logo nav'auto 'search search'auto;
	}

	.header-logo {
		width: 60px;
		height: 30px;
	}
}