.home-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 10px;
	padding: 20px;
	min-width: 100px;
	max-height: 500px;
	background-color: white;
	z-index: 1;
}

.home-product-info {
	width: 100%;
	min-height: 100px;
	margin-bottom: 15px;
	text-align: left;
}

.home-product-title {
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.home-product-price {
	margin-top: 5px;
	text-align: end;
}

.home-product>img {
	max-height: 180px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 15px;
	cursor: pointer;
}

.home-product-add {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.home-product-quantity {
	width: 3rem;
}

.home-product-add>button {
	background: #f0c14b;
	border: 1px solid;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}