.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
}

.loader-spin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: spin 2s infinite linear;
}


@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg)
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg)
	}
}