.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 10px;
	padding: 20px;
	min-width: 100px;
	max-height: 500px;
	background-color: white;
	z-index: 1;
}

.product-info {
	width: 100%;
	min-height: 100px;
	margin-bottom: 15px;
	text-align: left;
}

.product-title {
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.product-rating {
	position: relative;
	display: flex;
}

.product-rating>label {
	display: none;
	position: absolute;
	left: 6rem;
	bottom: -50%;
	padding: 0.25rem 0.5rem;
	background-color: #FFF;
	border: 1px solid #BBB;
}

.product-rating svg {
	cursor: help
}

.product-rating svg:hover~label {
	display: unset;
}

.product-price {
	margin-top: 5px;
	text-align: end;
}

.product>img {
	max-height: 180px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 15px;
}

.product-add {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.product-quantity {
	width: 3rem;
}

.product-add>button {
	background: #f0c14b;
	border: 1px solid;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}